{% extends "bootstrap/base.html" %}

{% block title %}Evert{% endblock %}

{% block head %}
{{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.0.min.css" type="text/css" />
          
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.0.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.3.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/science.v1.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Update_Figures.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('main.static', filename='javascript/FirstOrderEyeball.js') }}"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
             <a class="navbar-brand" href="{{ url_for('home') }}">Evert</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a href="{{ url_for('main.plot') }}">Plot</a></li> 
                <li><a href="{{ url_for('main.upload') }}">Upload</a></li>
                <li><a href="{{ url_for('main.fit') }}">Fit</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
