{% extends "base.html" %}
{% block content %}
	<div class="jumbotron">
		<div class="container text-center">
		    <h2>Evert 2016</h2>
		    <h3>This is the Evert 2016 home page.</h3>
			<p></p>
		</div>
 	</div>

 	<div class="container" >
		<div class="row">
			<div class="col-sm-4">
				<p>This web application is the CSC411 contribution to the Evert Project for the Process Modelling and Control group at the Department of Chemical Engineering, University of Pretoria.</p>
			</div>
			<div class="col-sm-4">
				<p>Contributors: Ruan Williams and Eduan Oosthuizen</p>
			</div>
			<div class="col-sm-4">
				<p>Supervisor: Carl Sandrock</p>
			</div>
		</div>
		
	</div>
{% endblock %}